.competence {
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.25rem !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    background-color: #f5e2e2;
    margin: 3px;
    width: 25%;
    font-family: 'Montserrat';
  }